h1 {
    text-align: center;
}

body{
    background-color: white;
}

.buttonDiv{
    text-align: center; 
    
}




#flashcard{
    text-align: center;
    background-color: rgb(255, 255, 177);
    width: 38vw;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 177);
    padding-top: 25px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}


*/
#footer { 
    position: absolute; 
    bottom: 0; 
    left: 25%; 
    z-index: 10;
    padding: 20px;
}
