h1 {
    text-align: center;
}

body{
    background-color: white;
}

#sidebar {
    height: 160px;
    width: 160px;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 30px;
    background-color: rgb(255, 242, 0);
    border-radius: 15px 50px 30px;
    color: black;
}

#sidebar p{
    padding: 2px;
    cursor:pointer;
}


#sidebar {
    height: 160px;
    width: 160px;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 30px;
    background-color: rgb(255, 242, 0);
    border-radius: 15px 50px 30px;
    color: black;
}

#sidebar p{
    padding: 2px;
    cursor:pointer;
}

#sidebar {
    height: 160px;
    width: 160px;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 30px;
    background-color: rgb(255, 242, 0);
    border-radius: 15px 50px 30px;
    color: black;
}

#sidebar p{
    padding: 2px;
    cursor:pointer;
}


.startDiv{
.startDiv{
    text-align: center; 
    background-color: rgb(184, 184, 177);
    width: 6vw;
    height: 2vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 177);
    padding-top: 25px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9)
}


.flashcardBtn{
.flashcardBtn{
    font-size: 15px;
    display: block;
    width: 30%;
    margin-left: 35%;
}

#exampleBtn{
    margin-top: 20px;
    margin-top: 20px;
}

#nextCardBtn{
    margin-top: 20px;
#nextCardBtn{
    margin-top: 20px;
}

canvas#confetti {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
}

.button-53 {
    background-color: #4fc804;
    background-color: #4fc804;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 0.75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button-53:focus {
    outline: 0;
}
  
.button-53:after {
    content: "";
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}
  
.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}
  
@media (min-width: 768px) {
    .button-53 {
      padding: 0.75rem 3rem;
      font-size: 1.25rem;
}

body{
    background-color: rgb(230, 230, 230);
}



#flashcard{
    text-align: center;
    background-color: rgb(255, 255, 177);
    width: 38vw;
    height: 40vh;
    margin: auto;
    background-color: rgb(255, 255, 177);
    padding-top: 25px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}



@keyframes slideInLeft {
    from{
        transform: translateX(-300px);
    }

    To{
        transform: translateX(0);

    }
}

#start-text {
    text-align:center;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    transform: translateX(-1)
}


#new-card-form{
#new-card-form{
    text-align: center;
    padding-top: 100px;
}

#all-cards{
    padding-top: 25px;
}

#confetti-button{
    margin-left: 15%;
    margin-top: 15%;
}

#display-questions{
    width: 125px;
    height: 50px;
    border-radius: 15px;
    font-size: 13px;
    background-color: rgb(0, 247, 255)
}

#display-questions:hover{
    background-color: pink;
    cursor: pointer;
}

#button-holder{
    padding-top: 50px;
    padding-left: 25px;
    padding-top: 25px;
}

#confetti-button{
    margin-left: 15%;
    margin-top: 15%;
}

#display-questions{
    width: 125px;
    height: 50px;
    border-radius: 15px;
    font-size: 13px;
    background-color: rgb(0, 247, 255)
}

#display-questions:hover{
    background-color: pink;
    cursor: pointer;
}

#button-holder{
    padding-top: 50px;
    padding-left: 25px;
}