h1 {
    text-align: center;
}

body{
    background-color: white;
}

li{
    cursor: pointer;
}

.buttonDiv{
    text-align: center;
}

#flashcard{
    text-align: center;
    background-color: rgb(255, 255, 177);
}

#flashcard p{
    padding: 20px,
}

#footer { 
    position: absolute; 
    bottom: 0; 
    left: 25%; 
    z-index: 10;
    padding: 20px;
}
